In [4]:
x = "Whatever I write. UPPERCASE, lowercaSE, %#^(##$%^()), 3456787654323456789.        "

In [5]:
type(x)

str

In [6]:
"valid string"

'valid string'

In [7]:
'valid string'

'valid string'

In [8]:
'''valid string'''

'valid string'

In [9]:
"valid string?'

SyntaxError: EOL while scanning string literal (3071074542.py, line 1)

In [11]:
# opening and closing quotes should be the same ^

In [12]:
"a" > "A"

True

In [13]:
"random" + "random2"

'randomrandom2'

In [14]:
"a" * 3 * 5

'aaaaaaaaaaaaaaa'

In [15]:
# Lexicographical Order -> Order of words in a dictionary

In [16]:
"zebra" > "abchfjsfgjikugfdfghjkjhgfdjhgfhchhgvghvhghfhgfhf"

True

In [17]:
"aAa" > "aaa"

False

In [18]:
l = 5
b = 10
a = l*b

In [19]:
# Length = l, Breadth = b and Area = a

In [21]:
print("Length =", l, "Breadth =", b, "and Area =", a)

Length = 5 Breadth = 10 and Area = 50

In [29]:
print("Length - {}, Breadth = {} and Area = {}".format(l, b, a))

Length - 5, Breadth = 10 and Area = M Sai

In [27]:
a = input()

result = "Variable is - {}".format(a)

M Sai

In [28]:
result

'Variable is - M Sai'

In [32]:
print(f"Length - {l}, Breadth - {b} and Area = {a}")

Length - 5, Breadth - 10 and Area = M Sai

In [34]:
ord("a") # ord function gives the ASCII value of a character

97

In [35]:
ord("@")

64

In [36]:
ord ("&")

38

In [37]:
ord("ðŸ˜„")

128516

In [38]:
ord("\n")

10

In [40]:
chr(38) # chr converts ASCII value to a string

'&'

In [41]:
chr(128516)

'ðŸ˜„'

In [44]:
'''
Question 1 - 
1. Take a string input from the user.
2. Print that string character by character with each character in new line.

Input - "INDIA"
Output - 
I
N
D
I
A
'''

'\nQuestion 1 - \n1. Take a string input from the user.\n2. Print that string character by character with each character in new line.\n\nInput - "INDIA"\nOutput - \nI\nN\nD\nI\nA\n'

In [45]:
a = input()

for i in a:
    print(i)

INDIA
I
N
D
I
A

In [47]:
'''
Question 2 - 
1. Take a string input from the user.
2. Print the following - 
"First Character - <first_character>, Last Character - <last_character>"

Input - INDIA
Output - First Character - I, Last Character - A
'''

'\nQuestion 2 - \n1. Take a string input from the user.\n2. Print the following - \n"First Character - <first_character>, Last Character - <last_character>"\n\nInput - INDIA\nOutput - First Character - I, Last Character - A\n'

In [48]:
a = input()

print(f"First Character - {a[0]}, Last Character - {a[-1]}")

INDIA
First Character - I, Last Character - A

In [49]:
s = "INDIA_IS_MY_COUNTRY"

In [50]:
s[:5]

'INDIA'

In [51]:
s[0] = "R"

TypeError: 'str' object does not support item assignment

In [52]:
s = "new string"

In [53]:
s

'new string'

In [54]:
'''
Question 3 - 
1. Take a string input from the user.
2. Reverse that string
'''

'\nQuestion 3 - \n1. Take a string input from the user.\n2. Reverse that string\n'

In [55]:
s = "any string"

In [57]:
s[::-1]

'gnirts yna'

In [58]:
'''
Question 4 - 
1. Take a string input from the user.
2. Return "PALINDROME" if the string is a palindrome, otherwise return "NOT A PALINDROME"
'''

'\nQuestion 4 - \n1. Take a string input from the user.\n2. Return "PALINDROME" if the string is a palindrome, otherwise return "NOT A PALINDROME"\n'

In [59]:
a = input()

NAMAN

In [64]:
def check_palindrome(a):
    a = a.lower()
    return "PALINDROME" if a == a[::-1] else "NOT A PALINDROME"

In [65]:
check_palindrome(a)

'PALINDROME'

In [66]:
a2 = input()

Naman

In [67]:
check_palindrome(a2)

'PALINDROME'

In [68]:
'''
Question 5 - 
1. Take a string input from the user.
2. Print the number of upper case characters in that string.

Input - "This is a RANDOM strinG 67890, %^*"
Output - 8
'''

'\nQuestion 5 - \n1. Take a string input from the user.\n2. Print the number of upper case characters in that string.\n\nInput - "This is a RANDOM strinG 67890, %^*"\nOutput - 8\n'

In [69]:
a = "This is a RANDOM strinG 67890, %^*"

In [70]:
def count_upper_case(a):
    count = 0
    
    for random in a:
        if ord(random) >= 65 and ord(random) <= 90:
            count += 1
            
    return count

In [71]:
count_upper_case(a)

8

In [76]:
def count_upper_case_2(a):
    count = 0
    
    for i in a:
        if i.isupper():
            count += 1
            
    return count

In [73]:
"A".isupper()

True

In [74]:
"a".islower()

True

In [75]:
"A".islower()

False

In [77]:
count_upper_case_2(a)

8

In [78]:
'''
Question 6 - 
1. You are given a list of numbers between 1 abd 256.
2. Generate a string from the chr values of these numbers.

Input - [65, 97, 68]
Output - "Aad"

Explanation - 
chr(65) -> A
chr(97) -> a
chr(68) -> d
'''

'\nQuestion 6 - \n1. You are given a list of numbers between 1 abd 256.\n2. Generate a string from the chr values of these numbers.\n\nInput - [65, 97, 68]\nOutput - "Aad"\n\nExplanation - \nchr(65) -> A\nchr(97) -> a\nchr(68) -> d\n'

In [80]:
a = [56, 78, 99, 103, 157, 22, 22, 24, 10, 100]

In [81]:
s = ""
s += "a"

In [82]:
s

'a'

In [83]:
def generate_string(a):
    s = ""
    
    for i in a:
        s += chr(i)
        
    return s

In [84]:
generate_string(a)

'8Ncg\x9d\x16\x16\x18\nd'

In [95]:
def generate_string_cool(a):
    result = []
    
    for i in a:
        result.append(chr(i))
        
    return "".join(result)

In [96]:
generate_string_cool(a)

'8Ncg\x9d\x16\x16\x18\nd'

In [97]:
'''
Question 7 - 
1. Given a string of comma separated values.
2. Convert it into a list of individual values.

Input - "56,78,99,101,23,34,56,102"
Output - [56, 78, 99, 101, 23, 34, 56, 102]
'''

'\nQuestion 7 - \n1. Given a string of comma separated values.\n2. Convert it into a list of individual values.\n\nInput - "56,78,99,101,23,34,56,102"\nOutput - [56, 78, 99, 101, 23, 34, 56, 102]\n'

In [98]:
a = "56,78,99,101,23,34,56,102"

In [99]:
def tough_way(a):
    result = []
    
    for i in a:
#     WAY TOO TOUGH!

IndentationError: expected an indented block (137303352.py, line 5)

In [104]:
def easy_way(a):
    list_a = a.split(",")
    result = []
    
    for i in list_a:
        result.append(int(i))
        
    return result

In [107]:
easy_way(a)

[56, 78, 99, 101, 23, 34, 56, 102]

In [106]:
"This_is_a_string".split("_")

['This', 'is', 'a', 'string']

In [108]:
'''
"".join(a) -> a would be a list of strings -> output would be string
"Random_string".split("_") -> Argument is the splitting character -> result would be a list
'''

'\n"".join(a) -> a would be a list of strings -> output would be string\n"Random_string".split("_") -> Argument is the splitting character -> result would be a list\n'

In [109]:
" random strinfg 101 this is very raodnm so random".split()

['random', 'strinfg', '101', 'this', 'is', 'very', 'raodnm', 'so', 'random']

In [110]:
" random strinfg 101 this is very raodnm so random".split("a")

[' r', 'ndom strinfg 101 this is very r', 'odnm so r', 'ndom']

In [112]:
a = "thisWORDisWORDaWORDrandomWORDstring".split("WORD")

In [113]:
a

['this', 'is', 'a', 'random', 'string']

In [114]:
" ".join(a)

'this is a random string'