In [2]:
# while 1:
#     print("Whatsupppp?")

In [5]:
a = input()

while a:
    if len(a) == 6:
        a = ""
        
    print("END!")

random
END!

In [6]:
x = [1,2,3,4,5,6]

In [7]:
x

[1, 2, 3, 4, 5, 6]

In [9]:
print(type(x))

<class 'list'>

In [11]:
range(5)
# if start value is not provided -> default value is 0

range(0, 5)

In [12]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [13]:
print(list(range(0)))

[]

In [14]:
range(0)

range(0, 0)

In [15]:
len(list(range(5)))

5

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
print(list(range(2,10)))

[2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
range(5.5)

TypeError: 'float' object cannot be interpreted as an integer

In [19]:
print(list(range(8,8)))

[]

In [20]:
print(list(range(7,8)))

[7]

In [21]:
print(list(range(-1,3)))

[-1, 0, 1, 2]

In [22]:
print(list(range(-9, -1)))

[-9, -8, -7, -6, -5, -4, -3, -2]

In [23]:
print(list(range(-1,-9)))

[]

In [24]:
# Jump or difference in ranges

In [26]:
print(list(range(2,10,2))) # the third value is the jump value

[2, 4, 6, 8]

In [27]:
print(list(range(1,30,3)))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [32]:
print(list(range(-1,-9,-1)))

[-1, -2, -3, -4, -5, -6, -7, -8]

In [33]:
print(list(range(8,8,-1)))

[]

In [34]:
print(list(range(2,5,10)))

[2]

In [35]:
print(list(range(5,-10,-2)))

[5, 3, 1, -1, -3, -5, -7, -9]

In [36]:
'''
Question 1 - 
Print all numbers from 1 to N using a for loop.
'''

'\nQuestion 1 - \nPrint all numbers from 1 to N using a for loop.\n'

In [43]:
N = int(input("The number is - "))

for kuchh_bhi in range(1, N+1):
    print(kuchh_bhi)
    
# initialisation and updation of counter variable is handled automatically by python

The number is - 5
1
2
3
4
5

In [44]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [45]:
range(5,1)

# start = 5
# end = 1
# jump = 1

range(5, 1)

In [46]:
'''
Question 2 - 
Calculate sum of all numbers from 1 to N using a for loop.
'''

'\nQuestion 2 - \nCalculate sum of all numbers from 1 to N using a for loop.\n'

In [53]:
number = int(input("Please enter number - "))

final_sum = 0

for value in range(1, number + 1):
    final_sum += value
    
print(final_sum)

Please enter number - 5
15

In [52]:
print(random_variable_I_have_not_defined)

NameError: name 'random_variable_I_have_not_defined' is not defined

In [54]:
'''
Question 3 - 
Print all numbers from an input N to 1 where N > 1.
'''

'\nQuestion 3 - \nPrint all numbers from an input N to 1 where N > 1.\n'

In [56]:
number = int(input("Enter the number - "))

for i in range(number, 0, -1):
    print(i)

Enter the number - 7
7
6
5
4
3
2
1

In [59]:
'''
Question 3 - 
Print all numbers from an input N to 1 where N > 1 using for loop.
SOLVE THIS WITHOUT USING A NEGATIVE JUMP!
'''

'\nQuestion 3 - \nPrint all numbers from an input N to 1 where N > 1 using for loop.\nSOLVE THIS WITHOUT USING A NEGATIVE JUMP!\n'

In [64]:
n = int(input("Enter the number - "))

for i in range(1, n+1):
    print(n-i+1)
    # print(i)

Enter the number - 7
7
6
5
4
3
2
1

In [65]:
n = int(input("Enter the number - "))

for i in range(-n, 0):
    print(-i)

Enter the number - 7
7
6
5
4
3
2
1

In [67]:
a = 1234567

In [70]:
r = a % 10
a = a // 10

In [71]:
r

7

In [72]:
a

123456

In [73]:
r = a % 10
a = a // 10

In [74]:
r

6

In [75]:
a

12345

In [76]:
a = 45

In [78]:
a // 10 # quotient

4

In [79]:
a % 10 # remainder

5