## LANGUAGE CONSTRUCTS

In [1]:
number = 345678987654324567898765434567898765434567898765432

In [5]:
# 1. Starts with _ or alphabet
# 2. Can have _, alphabets and numbers post that

_ = 5 # Is a special variable
# Stores the value of the previous expression.

In [4]:
_

5

In [8]:
a = 5

In [9]:
id(a)

140588909521328

In [10]:
a = 6

In [11]:
id(a)

140588909521360

In [12]:
# Only Mutable Data Structures -> Lists, Sets and Dictionaries

In [13]:
a = [1,2,3,4,5,6]

In [14]:
id(a)

140588375359808

In [15]:
a.append(7)

In [16]:
id(a)

140588375359808

In [17]:
a = 5

In [18]:
b = 5

In [19]:
c = 5

In [20]:
id(a)

140588909521328

In [21]:
id(b)

140588909521328

In [22]:
id(c)

140588909521328

In [23]:
# ITERATION PROTOCOL

In [24]:
a = [1,2,3,4,5]

In [25]:
for i in a:
    print(i)

1
2
3
4
5

In [26]:
for i in "string":
    print(i)

s
t
r
i
n
g

In [27]:
for i in (1,2,3,4):
    print(i)

1
2
3
4

In [28]:
a = "python"

In [29]:
it = iter(a)
'''
If we pass an iterable to iter() -> python gives an iterator
'''

'\nIf we pass an iterable to iter() -> python gives an iterator\n'

In [30]:
it

In [31]:
next(it)

'p'

In [32]:
next(it)

'y'

In [33]:
next(it)

't'

In [34]:
next(it)

'h'

In [35]:
next(it)

'o'

In [36]:
next(it)

'n'

In [37]:
next(it)

StopIteration:

In [38]:
it = iter([1,2,3,4,5])

In [39]:
it

In [45]:
next(it)

StopIteration:

In [46]:
it = iter((1,2,3))

In [47]:
it

In [48]:
it = iter(45)

TypeError: 'int' object is not iterable

## PYTHON DATA STRUCTURES

In [49]:
# LISTS, TUPLES, SETS, DICTIONARIES

In [52]:
board = [[""]*3]*3

In [53]:
board

[['', '', ''], ['', '', ''], ['', '', '']]

In [54]:
board[0][0] = "0"

In [55]:
board

[['0', '', ''], ['0', '', ''], ['0', '', '']]

In [56]:
id(board[0]) == id(board[1]) == id(board[2])

True

In [58]:
# HOMEWORK
# FIND OUT MORE ABOUT THIS!
# AND FIGURE OUT A WAY TO MAKE A WORKING TIC TAC TOE BOARD

In [59]:
a = (100)
type(a)

int

In [60]:
a = (100,)
type(a)

tuple

In [61]:
a = {
    "A": 45,
    "B": 56
}

In [62]:
for i in a.items():
    print(i)

('A', 45)
('B', 56)

In [66]:
for key, value in a.items():
    print(f"{key} -> {value}")

A -> 45
B -> 56

In [63]:
for i in a.keys():
    print(i)

A
B

In [64]:
for i in a.values():
    print(i)

45
56

In [65]:
for i in a:
    print(i)

A
B

In [67]:
'''
Question 1 -
a = {"key1": 1, "key2": 2, "key3": 3000}
b = {"key": "beginning", "key2": "end", "3": 4}

Merge these two dictionaries.
- All unique keys should exist.
- In case of common keys, values for b should be kept.
'''

'\nQuestion 1 -\na = {"key1": 1, "key2": 2, "key3": 3000}\nb = {"key": "beginning", "key2": "end", "3": 4}\n\nMerge these two dictionaries.\n- All unique keys should exist.\n- In case of common keys, values for b should be kept.\n'

In [76]:
a = {"key1": 1, "key2": 2, "key3": 3000}

In [77]:
b = {"key": "beginning", "key2": "end", "3": 4}

In [74]:
a.update(b)

In [75]:
a

{'key1': 1, 'key2': 'end', 'key3': 3000, 'key': 'beginning', '3': 4}

In [78]:
a + b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [79]:
a | b

{'key1': 1, 'key2': 'end', 'key3': 3000, 'key': 'beginning', '3': 4}

In [80]:
a

{'key1': 1, 'key2': 2, 'key3': 3000}

In [85]:
a.get("key4", False)

False

In [86]:
a["key4"]

KeyError: 'key4'

In [87]:
# List Comprehension

In [88]:
a = [1,2,3,4,5,6,7,8,9]

In [89]:
result = []

for i in a:
    result.append(i**2)

In [90]:
result

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [91]:
result = [ i**2 for i in a ]

In [92]:
result

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [96]:
s1 = { i for i in range(1,11) }

In [97]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [98]:
t1 = ( i**2 for i in range(1,11) )

In [99]:
t1

In [100]:
tuple(t1)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [101]:
t1 = tuple([ i**2 for i in range(1,11) ])

In [102]:
t1

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [103]:
s1 = "x for x in range(1,11)"

In [104]:
s1

'x for x in range(1,11)'

In [105]:
d1 = { i: i**2 for i in range(1,11) }

In [106]:
d1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [107]:
d1 = { f"Square of {i}": i**2 for i in range(1,11) }

In [108]:
d1

{'Square of 1': 1,
 'Square of 2': 4,
 'Square of 3': 9,
 'Square of 4': 16,
 'Square of 5': 25,
 'Square of 6': 36,
 'Square of 7': 49,
 'Square of 8': 64,
 'Square of 9': 81,
 'Square of 10': 100}

In [110]:
'''
Question 2 - 
Print the multiplication table of all numbers from 1-N (user input)
using one line of python.
'''

'\nQuestion 2 - \nPrint the multiplication table of all numbers from 1-N (user input)\nusing one line of python.\n'

In [120]:
N = int(input())

mt = [ [ i*j for j in range(1,11) ] for i in range(1, N+1) ]

8

In [121]:
mt

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80]]

In [122]:
a = [1,2,3,4]

In [123]:
for i in range(a):
    print(i)

TypeError: 'list' object cannot be interpreted as an integer

In [124]:
for i in a:
    print(i)

1
2
3
4

In [126]:
for i in range(len(a)):
    print(a[i])

1
2
3
4