# Maps

In [1]:
a = [1,2,3,4,5]

In [2]:
# Approach 1 -> List Comprehension
result = [ 2*i for i in a ]

In [3]:
result

[2, 4, 6, 8, 10]

In [4]:
m = map(lambda x: 2*x , a)

In [6]:
result2 = list(m)

In [7]:
result2

[2, 4, 6, 8, 10]

In [8]:
'''
Queston 1 - 
Convert heights to t shirt sizes ->
h < 150 - S
h >= 150 and h < 180 - M
h >= 180 - L

You will be given a list of heights.

EXAMPLE ->
INPUT - [150, 170, 190]
OUTPUT - ["M", "M", "L"]
'''

'\nQueston 1 - \nConvert heights to t shirt sizes ->\nh < 150 - S\nh >= 150 and h < 180 - M\nh >= 180 - L\n\nYou will be given a list of heights.\n\nEXAMPLE ->\nINPUT - [150, 170, 190]\nOUTPUT - ["M", "M", "L"]\n'

In [9]:
heights = [150, 130, 155, 170, 190, 180, 200, 145]

In [10]:
h = 160
condition = "S" if h < 150 else "M" if h >= 150 and h < 180 else "L"

In [11]:
condition

'M'

In [12]:
sizes = list(map(lambda h: "S" if h < 150 else "M" if h >= 150 and h < 180 else "L" , heights))

In [13]:
sizes

['M', 'S', 'M', 'M', 'L', 'L', 'L', 'S']

In [14]:
def sizing_logic(h):
    if h < 150:
        return "S"
    elif h >=150 and h < 180:
        return "M"
    else:
        return "L"

In [15]:
sizes = list(map(sizing_logic, heights))

In [16]:
sizes

['M', 'S', 'M', 'M', 'L', 'L', 'L', 'S']

In [17]:
'''
Question 2 - 
A = [1,0,1,0,0,1]
B = [0,0,0,1,1,1]

OUTPUT -> [False, True, False, False, False, True]
'''

'\nQuestion 2 - \nA = [1,0,1,0,0,1]\nB = [0,0,0,1,1,1]\n\nOUTPUT -> [False, True, False, False, False, True]\n'

In [18]:
A = [1,0,1,0,0,1]
B = [0,0,0,1,1,1]

In [19]:
result = list(map(lambda x, y: x == y, A, B))

In [20]:
result

[False, True, False, False, False, True]

In [21]:
A = [1,0,1,0,0,1]
B = [0,0,0,1,1,1,0,1,0,0,0,1,0,1,0]

In [22]:
result = list(map(lambda x, y: x == y, A, B))

In [23]:
result

[False, True, False, False, False, True]

In [24]:
list(map(lambda x, y, z: x + y + z, ["a", "b", "c"], "abc", {"a", "b", "c"}))

['aaa', 'bbc', 'ccb']

# Filters

In [25]:
a = [1,2,3,4,5,6,7,8,9,10]

In [26]:
f = filter(lambda x: x % 2 == 0, a)

In [29]:
result = list(f)

In [30]:
result

[2, 4, 6, 8, 10]

# Reduce

In [31]:
from functools import reduce

In [32]:
a = [1,2,3,4,5,6,7,8,9,10]

In [33]:
r = reduce(lambda x, y: x + y, a)

In [34]:
r

55

In [35]:
reduce?

In [36]:
r = reduce(lambda x, y: x + y, a, 100)

In [37]:
r

155

In [38]:
a = "this is a random string"
a = a.split(" ")

In [39]:
a

['this', 'is', 'a', 'random', 'string']

In [40]:
r = reduce(lambda x, y: x + "-" + y, a)

In [41]:
r

'this-is-a-random-string'

In [42]:
'''
Question 3 -
a = list(range(1,11))
b = a[::-1]

reduce(lambda x, y: x * y, a) == reduce(lambda x, y: x * y, b)
'''

'\nQuestion 3 -\na = list(range(1,11))\nb = a[::-1]\n\nreduce(lambda x, y: x * y, a) == reduce(lambda x, y: x * y, b)\n'

In [43]:
a = list(range(1,11))
b = a[::-1]

reduce(lambda x, y: x * y, a) == reduce(lambda x, y: x * y, b)

True

In [44]:
'''
Question 4 - 
Using reduce, write your own custom function to calculate max in a list.
'''

'\nQuestion 4 - \nUsing reduce, write your own custom function to calculate max in a list.\n'

In [45]:
a = [5,6,78,90,134,52,12,10]

In [46]:
r = reduce(lambda x, y: x if x > y else y, a)

In [47]:
r

134

# ZIP

In [50]:
a = [1,2,3,4,5]
b = ["a", "b", "c"]
c = ["this", "is", "very", "random"]

In [51]:
result = list(zip(a, b, c))

In [52]:
result

[(1, 'a', 'this'), (2, 'b', 'is'), (3, 'c', 'very')]

In [53]:
a = [1,2,3,4,5]
b = "abc"
c = ("this", "is", "very", "random")

In [54]:
result = list(zip(a, b, c))

In [55]:
result

[(1, 'a', 'this'), (2, 'b', 'is'), (3, 'c', 'very')]

In [60]:
keys = ["key1", "key2", "key3", "key4", "key5"]
values = ["value1", "value2", "value3", "value4"]

In [61]:
dict(zip(keys, values))

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [62]:
a = [1,2,3,4,5]
b = "abc"
c = {
    "key1" : "value1",
    56 : "value2"
}

In [63]:
list(zip(a, b, c))

[(1, 'a', 'key1'), (2, 'b', 56)]

# Args and Kwargs

In [64]:
def sum_custom(a, b):
    return a + b

In [69]:
sum_custom(4, 5, 6, 7)

TypeError: sum_custom() takes 2 positional arguments but 4 were given

In [72]:
def sum_custom(a, b, *args):
    # print(a)
    # print(b)
    # print(args)
    
    return a + b + sum(args)

In [73]:
sum_custom(5, 6, 7, 8, 9 , 10, 4)

49

In [89]:
def sum_custom(a, b, *anything_i_desire):
    # print(a)
    # print(b)
    # print(anything_i_desire)
    
    return a + b + sum(anything_i_desire)

In [90]:
sum_custom(4,5,6,7)

22

In [91]:
def random():
    return 100, 200, 300, 400, 500

In [92]:
x, y, *z = random()

In [93]:
z

[300, 400, 500]

In [94]:
x

100

In [95]:
y

200

In [96]:
sum_custom = lambda x, y, *z: x + y + sum(z)

In [97]:
sum_custom(4,5,6,7)

22

In [101]:
def create_person(name, age, profession, *args):
    person = {
        "name": name,
        "age": age,
        "profession": profession
    }
    
    return person

In [102]:
create_person(name = "Bipin", age = 5000, profession = "Engineer", hobbies = "painting")

TypeError: create_person() got an unexpected keyword argument 'hobbies'

In [107]:
def create_person(name, age, profession, **kwargs):
    person = {
        "name": name,
        "age": age,
        "profession": profession
    }
    
    print(f"kwargs -> {kwargs}")
    
    if kwargs:
        person.update(kwargs)
    
    return person

In [108]:
create_person(name = "Bipin", age = 5000, profession = "Engineer", hobbies = "painting", height = "6ft")

kwargs -> {'hobbies': 'painting', 'height': '6ft'}

{'name': 'Bipin',
 'age': 5000,
 'profession': 'Engineer',
 'hobbies': 'painting',
 'height': '6ft'}

In [109]:
# positional -> args -> keyworded -> kwargs