In [1]:
# 1 1 2 3 5 8 13 21...N numbers in the fibonacci series

In [18]:
def fibonacci(n, result = [0, 1], num1 = 0, num2 = 1):
    if n > 2:
        result += [num1 + num2]
        return fibonacci(n-1, result, num2, num1 + num2)
    else:
        return result

In [19]:
n = int(input("Enter the number of elements you want - "))

result = fibonacci(n)

Enter the number of elements you want - 10

In [20]:
result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [34]:
result_1 = result.copy()

In [35]:
result_1

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [28]:
def check_prime(x):
    divisors = 2
    
    for i in range(2, x//2 + 1):
        if x % i == 0:
            divisors += 1
            return False
        
    return True

def factorial(x):
    if x == 0 or x == 1:
        return 1
    
    return x * factorial(x-1)

def mapping_logic(x):
    is_prime = check_prime(x)
    
    if is_prime:
        return factorial(x)
    else:
        return x

In [33]:
check_prime(8)

False

In [36]:
result_1 = list(map(mapping_logic, result_1))

In [37]:
result_1

[1, 1, 1, 2, 6, 120, 8, 6227020800, 21, 34]

In [38]:
'''
Problem Description
In this exercise, complete the function func, 
which takes integers, names, and numbers as the parameters. 

a. Use map() to return the list of the squares of each number. 
b. Use filter() to return the list with only those names that have less than or equal to seven letters. 
c. Use reduce() to return the product of elements of list numbers.
'''

'\nProblem Description\nIn this exercise, complete the function func, \nwhich takes integers, names, and numbers as the parameters. \n\na. Use map() to return the list of the squares of each number. \nb. Use filter() to return the list with only those names that have less than or equal to seven letters. \nc. Use reduce() to return the product of elements of list numbers.\n'

In [39]:
integers = [4,5,1,2,3,6,7,8,9,0]
names = ["arup", "vishakha", "bipin", "venugopal"]

In [40]:
result_map = list(map(lambda x: x**2, integers))

In [41]:
result_map

[16, 25, 1, 4, 9, 36, 49, 64, 81, 0]

In [42]:
result_filter = list(filter(lambda x: len(x) <= 7, names))

In [43]:
result_filter

['arup', 'bipin']

In [46]:
integers = [1,2,3,4,5]
from functools import reduce
result_reduce = reduce(lambda x, y: x*y, integers)

In [47]:
result_reduce

120

In [48]:
string = '''
We spend several years building our own database engine, Amazon Aurora, a fully-managed MySQL and PostreSQL-compatible service with the same or better durability and vailability as the commercial engines, but at one-tenth of the cost. We are not surprised when this worked.
'''

In [49]:
result = lambda key, val: key[ key.find(val) - 18: key.find(val) + 18 ] if val in key else - 1

print(result(string, "SQL"))

a fully-managed MySQL and PostreSQL-

In [50]:
def result(key, val):
    r = key[ key.find(val) - 18: key.find(val) + 18 ] if val in key else -1
    return r

In [51]:
print(result(string, "SQL"))

a fully-managed MySQL and PostreSQL-

In [79]:
# string = '''
#      CREATE TABLE abc
#      create TABLE XYZ
# '''

string = '''
    CREATE TABLE abc
    random
    xyz
    create TABLE XYZ
'''

In [87]:
"random string".find("abc")

-1

In [88]:
string = string.replace("CREATE", "create")
string = string.replace("TABLE", "table")

table_names = []


while string.find("create table") != -1:
    start = string.find("create table")
    start += 13

    table_name = ""

    while string[start] != "\n":
        table_name += string[start]
        start += 1

    table_names.append(table_name)
    
    string = string[start + len(table_name):]

In [90]:
table_names

['abc', 'XYZ']

In [91]:
def return_table_names(string):
    string = string.replace("CREATE", "create")
    string = string.replace("TABLE", "table")

    table_names = []


    while string.find("create table") != -1:
        start = string.find("create table")
        start += 13

        table_name = ""

        while string[start] != "\n":
            table_name += string[start]
            start += 1

        table_names.append(table_name)

        string = string[start + len(table_name):]
        
    return table_names

In [92]:
# Towards Data Science -> Medium
# Andrew NG -> Video Course
# 3 Blue 1 Brown -> Maths Youtube
# Coursera Courses
# Udacity Nanodegree

In [93]:
c = (5,6) # coordinate

In [94]:
coordinates = [(5,6), (9,0), (0,9), (5,10)] # coordinates in order - ABCD

In [95]:
import math
distance = math.sqrt((coordinates[1][0] - coordinates[0][0])**2 + (coordinates[1][1] - coordinates[0][1])**2)

In [96]:
distance

7.211102550927978