In [1]:
# r! = 120 -> 1*2*3*4....r = 120

In [4]:
i = 1
fact = 1

while True:
    fact *= i
    
    if fact == 720:
        print(i)
        break
    
    i += 1

6

In [5]:
def fact_to_number(f):
    i = 1
    fact = 1
    
    while True:
        fact *= i
        
        if fact == f:
            return i
        
        i += 1

In [6]:
fact_to_number(120)

5

In [7]:
import math # libraries, packages and modules

In [8]:
import math

In [10]:
math.factorial(120)

6689502913449127057588118054090372586752746333138029810295671352301633557244962989366874165271984981308157637893214090552534408589408121859898481114389650005964960521256960000000000000000000000000000

In [11]:
arr = [(1,2),(2,3),(2,3),(1,2),(5,6)]
[ (a,b) for i, [a,b] in enumerate(arr) if not any ((d==b and a==c) for c, d in arr[ : i])]

[(1, 2), (2, 3), (5, 6)]

In [12]:
list(enumerate([(1,2), (2,3)]))

[(0, (1, 2)), (1, (2, 3))]

In [18]:
any([0,0,0,0,True]) # will return true if any value inside the list is truthy

True

In [20]:
all([1,1,1,1,0]) # will return true if all values inside the list are truthy

False

In [21]:
a = [1,2,3,4,5,6]

In [22]:
[ i for i in a if i % 2 == 0]

[2, 4, 6]

In [23]:
result = []

for i in a:
    result.append(i)

In [24]:
[ i for i in a ]

[1, 2, 3, 4, 5, 6]

In [25]:
[i**2 for i in a]

[1, 4, 9, 16, 25, 36]

In [26]:
'''
Question 1 - 
[ (a,b) for i, [a,b] in enumerate(arr) if not any ((d==b and a==c) for c, d in arr[ : i])]

Write this list comprehension down in expanded loop format.
'''

'\nQuestion 1 - \n[ (a,b) for i, [a,b] in enumerate(arr) if not any ((d==b and a==c) for c, d in arr[ : i])]\n\nWrite this list comprehension down in expanded loop format.\n'

In [27]:
arr = [(1,2),(2,3),(2,3),(1,2),(5,6)]

In [31]:
def remove_duplicates(arr):
    result = []
    
    for i, [a,b] in enumerate(arr):
        internal_list = []
        
        for c, d in arr[:i]:
            internal_list.append(d==b and a==c)
            
        if not any(internal_list):
            result.append((a,b))
            
    return result

In [32]:
remove_duplicates(arr)

[(1, 2), (2, 3), (5, 6)]